.navbar {
  background-color: #1e3a8a; /* синій */
  color: white;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

.burger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin-top: 10px;
  background-color: #1e40af;
  padding: 10px;
  border-radius: 8px;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
}

/* адаптивність */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: block;
  }
}
